.venv
.env
servidor/cert.pem
servidor/key.pem
victima/cifrado.py
operador/decrypt_gui.py
.idea
__pycache__
servidor/.env
victima/.env
operador/.env
operador/decrypt_gui.spec
operador/build
operador/dist
victima/build
victima/dist
victima/cifrado.spec